{% extends 'base.html' %}

{% block body %}
<style>
    /* General styling */
    .container-flex {
        display: flex;
        gap: 8px;
        margin-top: 80px; /* Adjust this value to move the block further down */
        position: fixed;
        width: 100%;
        top: 50px;
        bottom: 0;
        overflow: hidden;
        flex-direction: row; /* Default layout */
    }

    /* Form styling with vertical scroll */
    .form h5 {
        text-align: center; 
        margin-bottom: 15px; 
        color: #09112d;
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .form {
        width: 20%;
        max-height: calc(100vh - 90px);
        padding: 1px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #E6E6FA;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        margin-left: 10px;
    }

    /* Label styling */
    .form label {
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
        color: #000000;
        margin-left: 15px;
    }

    /* Input field styling */
    .form input[type="text"],
    .form input[type="number"],
    .form input[type="date"],
    .form input[type="hidden"],
    .form input[type="email"],
    .form select {
        width: 90%;
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:#FFFFFF;
    }

    .form textarea {
        width: 90%; /* Match the width of input elements */
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        resize: vertical; /* Allow vertical resizing if needed */
    }

    /* Button styling */
    .form button {
        width: 48%;
        padding: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
        font-size: 9px;
        margin-left: 42px;
    }

    /* Button colors */
    .form .btn-primary {
        background-color: #4169E1; /* Royal Blue */
        border: none;
    }

    .form .btn-primary:hover {
        background-color: #3A5BB0; /* Darker Royal Blue */
    }

    .form .btn-success {
        background-color: #3CB371; /* Medium Sea Green */
        border: none;
    }

    .form .btn-success:hover {
        background-color: #2E8B57; /* Darker Sea Green */
    }

    .form .btn-danger:hover {
        background-color: #B22222; /* Darker Crimson */
    }

    .table-container {
        width: 100%;
        font-size: 12px;
        overflow-y: auto;
        overflow-x: auto;

    }

    /* Table styling */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 2px;
        min-width: 2724px;
         table-layout: fixed; 
        
    }

    th, td {
        border: 1px solid #ddd;
        padding: 5px 0px; /* Vertical padding (5px top/bottom), horizontal padding (10px left/right) */
        text-align: center; /* Centering text */
        line-height: 1.2;
        box-sizing: border-box; /* Include padding in the total width/height */
      }

    /* Sticky header styling */
    thead th {
        background-color: #09112d;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    tbody tr:nth-child(even),
    tbody tr:nth-child(odd) {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }

    tbody tr:hover {
        background-color: #F5F5F5;
        box-shadow: 0 6px 6px -6px #0E1119;
        transition: all 0.3s ease;
    }

    tbody td:not(:has(button)):hover {
        background-color: #FFFF00;
        color: #403E10;
        font-weight: bold;
        box-shadow: #D3D3D3 -1px 1px,  #D3D3D3 -2px 2px, #7F7C21 -3px 3px, 
                    #D3D3D3 -4px 4px,  #D3D3D3 -5px 5px, #7F7C21 -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition: all 0.4s ease;
    }

    .btn-warning {
        background-color: #DC143C; /* Crimson color */
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 8px; 
        width: auto;
    }

    .btn-warning:hover {
        background-color: #DC143C;
    }

    .btn-danger {
        background-color: #DC143C;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 8px;
        width: auto;
    }

    #editModal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border-radius: 8px;
        padding: 20px;
        z-index: 1000;
    }

    /* Modal Input Styling */
    #editModal label {
        font-size: 10px;
        color: #000000;
        width: 30%;
        text-align: right;
    }

    #editModal input, #editModal textarea, #editModal select {
        width: 65%;
        padding: 6px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        max-width: 100%;
        margin-bottom: 10px;
    }

    /* Media Queries for Responsiveness */
    @media screen and (max-width: 768px) {
        .container-flex {
            flex-direction: column;
            margin-top: 20px;
        }

        .form {
            width: 90%; /* Make form full width on small screens */
            margin-left: 0;
            max-height: none; /* Allow form to expand */
        }

        .table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        table {
            min-width: 600px; /* Ensure table is scrollable */
        }

        .btn {
            font-size: 12px; /* Adjust button font size */
        }

        #editModal {
            width: 80%; /* Modal becomes wider on small screens */
        }

        .form input, .form textarea, .form select {
            font-size: 14px; /* Increase font size in form inputs */
        }
    }

    @media screen and (max-width: 480px) {
        .form {
            width: 100%;
        }

        .form button {
            width: 100%; /* Make buttons full width */
            margin-left: 0;
        }

        #editModal {
            width: 95%; /* Make modal full width */
        }

        .table-container {
            padding: 0 10px; /* Add padding for smaller screens */
        }

        table {
            min-width: 500px; /* Ensure small screen tables are scrollable */
        }

        .table-container table th, .table-container table td {
            font-size: 10px; /* Reduce text size for small screens */
        }
    }
</style>


<h1 style="text-align: center; color:#cd1129; margin-top: 5px; font-size:18px; font-weight:bold; display: flex; justify-content: center; align-items: center; position: relative;">
    Project Details
    <div style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); display: flex; gap: 10px;">
        <input type="text" id="searchBox" placeholder="Search..." style="padding: 4px; font-size: 12px; border-radius: 4px; border: 1px solid #ccc;">
        <button id="downloadButton" class="btn btn-primary" style="font-size: 12px; padding: 5px 10px; background-color: #4169E1; border: none; color: white; cursor: pointer;">
            Download
        </button>
    </div>
</h1>
<div class="container-flex">
    <!-- Form Section -->
    <div class="form">
        <form id="projectForm" method="POST" action="{% url 'CreateProject' %}">
            {% csrf_token %}
            <h5>Project Form</h5>
            
            <div>
                <label for="proj_id">Project ID</label>
                <input type="text" class="form-control" name="PROJID" required>
            </div>
            
            <div>
                <label for="cust_id">Customer ID</label>
                <input type="text" class="form-control" name="CUSTID" required>
            </div>
    
            <div>
                <label for="customer_name">Customer Name</label>
                <input type="text" class="form-control" name="CustomerName" required>
            </div>
            
            <div>
                <label for="project_name">Project Name</label>
                <input type="text" class="form-control" name="ProjectNAme" required>
            </div>
            
            <div>
                <label for="description">Description</label>
                <textarea class="form-control" name="Description" required></textarea>
            </div>
            
            <div>
                <label for="part_number_suffix">Part Number Suffix</label>
                <input type="text" class="form-control" name="ProjCodePArtNumberSuffix" required>
            </div>
            
            <div>
                <label for="part_name_suffix">Part Name Suffix</label>
                <input type="text" class="form-control" name="ProjCodePartNameSuffix" required>
            </div>
            
            <div>
                <label for="fy">Financial Year</label>
                <input type="text" class="form-control" name="FY" required>
            </div>
    
            <input type="hidden" name="project_id" id="project_id">
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary" name="action" value="insert">Insert</button>
            </div>
        </form>
        <div class="mt-4">
            <h5 class="text-center mb-3">Bulk Upload</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="xlsx_file" accept=".xlsx" class="form-control form-control-sm mb-2" required>
                <button type="submit" name="action" value="bulk_insert" class="btn-success">Upload XLSX</button>
            </form>
        </div>
    </div>
    

    <!-- Table for Displaying Project Details -->
    <div class="table-container">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Part Number Suffix</th>
                        <th>Part Name Suffix</th>
                        <th>Financial Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.PROJID }}</td>
                        <td>{{ project.CUSTID }}</td>
                        <td>{{ project.CustomerName }}</td>
                        <td>{{ project.ProjectNAme }}</td>
                        <td>{{ project.Description }}</td>
                        <td>{{ project.ProjCodePArtNumberSuffix }}</td>
                        <td>{{ project.ProjCodePartNameSuffix }}</td>
                        <td>{{ project.FY }}</td>
                        <td>
                            <button onclick="editProject('{{ project.PROJID }}', '{{ project.CUSTID }}', '{{ project.ProjectNAme }}', '{{ project.Description }}', '{{ project.ProjCodePArtNumberSuffix }}', '{{ project.ProjCodePartNameSuffix }}', '{{ project.FY }}')" class="btn btn-warning btn-sm">Edit</button>
                             <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<!-- Modal for Editing Vendor -->
<div id="editModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%; background-color: #fff; box-shadow: 0 4px 8px rgba(0,0,0,0.2); border-radius: 8px; padding: 20px; z-index: 1000;">
    <h5 style="text-align: center; color: #09112d;">Edit Vendor</h5>
    <form id="insertProjectForm" method="POST" action="{% url 'CreateProject' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="action" value="insert">
        <div>
            <label for="proj_id">Project ID</label>
            <input type="text" class="form" name="PROJID" id="proj_id" required>
        </div>
        <div>
            <label for="cust_id">Customer ID</label>
            <input type="text" class="form" name="CUSTID" id="cust_id" required>
        </div>
        <div>
            <label for="project_name">Project Name</label>
            <input type="text" class="form" name="ProjectNAme" id="project_name" required>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea class="form" name="Description" id="description" required></textarea>
        </div>
        <div>
            <label for="part_number_suffix">Part Number Suffix</label>
            <input type="text" class="form" name="ProjCodePArtNumberSuffix" id="part_number_suffix" required>
        </div>
        <div>
            <label for="part_name_suffix">Part Name Suffix</label>
            <input type="text" class="form" name="ProjCodePartNameSuffix" id="part_name_suffix" required>
        </div>
        <div>
            <label for="fy">Financial Year</label>
            <input type="text" class="form" name="FY" id="fy" required>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 20px; gap: 10px;">
            <button type="reset" class="btn btn-danger">Clear</button>
            <button type="submit" class="btn btn-success">Insert</button>
        </div>
    </form>
    
</div>

<script>
    function editProject(proj_id, cust_id, project_name, description, part_number_suffix, part_name_suffix, fy) {
        // Set values in the modal form
        document.getElementById('edit_proj_id').value = proj_id;
        document.getElementById('edit_cust_id').value = cust_id;
        document.getElementById('edit_project_name').value = project_name;
        document.getElementById('edit_description').value = description;
        document.getElementById('edit_part_number_suffix').value = part_number_suffix;
        document.getElementById('edit_part_name_suffix').value = part_name_suffix;
        document.getElementById('edit_fy').value = fy;
        document.getElementById('edit_project_id').value = proj_id;
        
        // Show the modal
        document.getElementById('editModal').style.display = 'block';
    }
    function closeModal() {
        document.getElementById('editModal').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

document.getElementById('searchBox').addEventListener('input', function() {
    const searchTerm = this.value.toLowerCase();
    const tableRows = document.querySelectorAll('tbody tr');
    
    tableRows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        if (rowText.includes(searchTerm)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
});

document.getElementById('downloadButton').addEventListener('click', function() {
    const table = document.querySelector('table');
    const rows = Array.from(table.rows);
    const csvContent = rows.map(row => {
        const cells = Array.from(row.cells).map(cell => `"${cell.textContent}"`);
        return cells.join(',');
    }).join('\n');

    const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = 'VendorDetails.csv';
    link.click();
});
</script>
{% endblock %}




{% comment %} {% extends 'base.html' %}

{% block body %}
<style>
    /* General styling */
    .container-flex {
        display: flex;
        gap: 8px;
        margin-top: 35px;
        position: fixed;
        width: 100%;
        top: 50px;
        bottom: 0;
        overflow: hidden;
        flex-direction: row; /* Default layout */
    }

    /* Form styling with vertical scroll */
    .form h5 {
        text-align: center; 
        margin-bottom: 15px; 
        color: #09112d;
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .form {
        width: 15%;
        max-height: calc(100vh - 90px);
        padding: 1px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #E6E6FA;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        margin-left: 10px;
    }

    /* Label styling */
    .form label {
        display: block;
        margin-bottom: 8px;
        font-size: 12px;
        color: #000000;
        margin-left: 15px;
    }

    /* Input field styling */
    .form input[type="text"],
    .form input[type="number"],
    .form input[type="date"],
    .form input[type="hidden"],
    .form input[type="email"],
    .form select {
        width: 90%;
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:#FFFFFF;
    }

    .form textarea {
        width: 90%; /* Match the width of input elements */
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        resize: vertical; /* Allow vertical resizing if needed */
    }

    /* Button styling */
    .form button {
        width: 48%;
        padding: 8px;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
        font-size: 9px;
        margin-left: 42px;
    }

    /* Button colors */
    .form .btn-primary {
        background-color: #4169E1; /* Royal Blue */
        border: none;
    }

    .form .btn-primary:hover {
        background-color: #3A5BB0; /* Darker Royal Blue */
    }

    .form .btn-success {
        background-color: #3CB371; /* Medium Sea Green */
        border: none;
    }

    .form .btn-success:hover {
        background-color: #2E8B57; /* Darker Sea Green */
    }

    .form .btn-danger:hover {
        background-color: #B22222; /* Darker Crimson */
    }

    .table-container {
        width: 100%;
        font-size: 12px;
        overflow-y: auto;
        overflow-x: auto;
    }

    /* Table container styling */
    .table-container {
      width: 100%;
      overflow-x: auto;  /* Enables horizontal scrolling */
    }
    
    /* Table styling */
    .table-responsive {
      max-height: 500px;  /* Set height for vertical scrolling */
      overflow-y: auto;   /* Enables vertical scrolling */
      position: relative;
    }
    
    /* Table width */
    #projectTable {
      width: 100%;
      min-width: 2724px;   /* Minimum width to handle horizontal scroll */
      border-collapse: collapse; /* Ensures borders don't overlap */
    }
    
    /* Table cell styling */
    th, td {
      border: 1px solid #ddd;
      padding: 1px;
      text-align:left;
    }
    
    /* Sticky header styling */
    #projectTable thead th {
      background-color: #09112d;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Shadow effect for the header */
    }
    
    /* Table row hover effect */
    #projectTable tbody tr:nth-child(even),
    #projectTable tbody tr:nth-child(odd) {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }
    
    #projectTable tbody tr:hover {
      background-color: #F5F5F5;
      box-shadow: 0 6px 6px -6px #0E1119;
      transition: all 0.3s ease;
    }
    
    /* Cell hover effect (excluding buttons) */
    #projectTable tbody td:not(:has(button)):hover {
      background-color: #FFFF00;
      color: #403E10;
      font-weight: bold;
      box-shadow: #D3D3D3 -1px 1px, #D3D3D3 -2px 2px, #7F7C21 -3px 3px,
                  #D3D3D3 -4px 4px, #D3D3D3 -5px 5px, #7F7C21 -6px 6px;
      transform: translate3d(6px, -6px, 0);
      transition: all 0.4s ease;
    }
    


    .btn-warning {
        background-color: #DC143C; /* Crimson color */
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 8px; 
        width: auto;
    }

    .btn-warning:hover {
        background-color: #DC143C;
    }

    .btn-danger {
        background-color: #DC143C;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 8px;
        width: auto;
    }

    #editModal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border-radius: 8px;
        padding: 20px;
        z-index: 1000;
    }

    /* Modal Input Styling */
    #editModal label {
        font-size: 10px;
        color: #000000;
        width: 30%;
        text-align: right;
    }

    #editModal input, #editModal textarea, #editModal select {
        width: 65%;
        padding: 6px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        max-width: 100%;
        margin-bottom: 10px;
    }

    /* Media Queries for Responsiveness */
    @media screen and (max-width: 768px) {
        .container-flex {
            flex-direction: column;
            margin-top: 20px;
        }

        .form {
            width: 90%; /* Make form full width on small screens */
            margin-left: 0;
            max-height: none; /* Allow form to expand */
        }

        .table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
        }

        table {
            min-width: 600px; /* Ensure table is scrollable */
        }

        .btn {
            font-size: 12px; /* Adjust button font size */
        }

        #editModal {
            width: 80%; /* Modal becomes wider on small screens */
        }

        .form input, .form textarea, .form select {
            font-size: 14px; /* Increase font size in form inputs */
        }
    }

    @media screen and (max-width: 480px) {
        .form {
            width: 100%;
        }

        .form button {
            width: 100%; /* Make buttons full width */
            margin-left: 0;
        }

        #editModal {
            width: 95%; /* Make modal full width */
        }

        .table-container {
            padding: 0 10px; /* Add padding for smaller screens */
        }

        table {
            min-width: 500px; /* Ensure small screen tables are scrollable */
        }

        .table-container table th, .table-container table td {
            font-size: 10px; /* Reduce text size for small screens */
        }
    }
</style>
</style>
<h1 style="text-align: center; color:#cd1129; margin-top: 5px; font-size:18px; font-weight:bold; display: flex; justify-content: center; align-items: center; position: relative;">
    Project Details
    <div style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); display: flex; gap: 10px;">
        <input type="text" id="searchBox" placeholder="Search..." style="padding: 4px; font-size: 12px; border-radius: 4px; border: 1px solid #ccc;">
        <button id="downloadButton" class="btn btn-primary" style="font-size: 12px; padding: 5px 10px; background-color: #4169E1; border: none; color: white; cursor: pointer;">
            Download
        </button>
    </div>
</h1>
<div class="container-flex">
    <!-- Form Section -->
    <div class="form">
        <form id="projectForm" method="POST">
            {% csrf_token %}
            <h5>Project Form</h5>
            
            <div>
                <label for="project_id">Project ID</label>
                <input type="text" class="form" name="PROJID" required>
            </div>
            
            <div>
                <label for="cust_id">Customer ID</label>
                <input type="text" class="form" name="CUSTID" required>
            </div>
            <div>
                <label for="CustomerName">Customer Name</label>
                <input type="text" class="form" name="ProjectNAme" required>
            </div>
            
            <div>
                <label for="project_name">Project Name</label>
                <input type="text" class="form" name="ProjectNAme" required>
            </div>
            
            <div>
                <label for="description">Description</label>
                <textarea class="form" name="Description" required></textarea>
            </div>
            
            <div>
                <label for="part_number_suffix">Part Number Suffix</label>
                <input type="text" class="form" name="ProjCodePArtNumberSuffix" required>
            </div>
            
            <div>
                <label for="part_name_suffix">Part Name Suffix</label>
                <input type="text" class="form" name="ProjCodePartNameSuffix" required>
            </div>
            
            <div>
                <label for="fy">Financial Year</label>
                <input type="text" class="form" name="FY" required>
            </div>

            <input type="hidden" name="project_id" id="project_id">
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary" name="action" value="insert">Insert</button>
            </div>
        </form>
        <div class="mt-4">
            <h5 class="text-center mb-3">Bulk Upload</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="xlsx_file" accept=".xlsx" class="form form-sm mb-2" required>
                <button type="submit" name="action" value="bulk_insert" class="btn btn-success btn-sm w-100 mb-2">Upload XLSX</button>
            </form>
        </div>
    </div>

    <!-- Table for Displaying Project Details -->
    <div class="table-container">
        <div class="table-responsive">
            <table id="projectTable">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Part Number Suffix</th>
                        <th>Part Name Suffix</th>
                        <th>Financial Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.PROJID }}</td>
                        <td>{{ project.CUSTID }}</td>
                        <td>{{ project.CustomerName }}</td>
                        <td>{{ project.ProjectNAme }}</td>
                        <td>{{ project.Description }}</td>
                        <td>{{ project.ProjCodePArtNumberSuffix }}</td>
                        <td>{{ project.ProjCodePartNameSuffix }}</td>
                        <td>{{ project.FY }}</td>
                        <td>
                            <button onclick="editProject('{{ project.PROJID }}', '{{ project.CUSTID }}', '{{ project.ProjectNAme }}', '{{ project.Description }}', '{{ project.ProjCodePArtNumberSuffix }}', '{{ project.ProjCodePartNameSuffix }}', '{{ project.FY }}')" class="btn btn-warning btn-sm">Edit</button>
                             <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<!-- Modal for Editing Vendor -->
<div id="editModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%; background-color: #fff; box-shadow: 0 4px 8px rgba(0,0,0,0.2); border-radius: 8px; padding: 20px; z-index: 1000;">
    <h5 style="text-align: center; color: #09112d;">Edit Vendor</h5>
    <form id="editVendorForm" method="POST">
        {% csrf_token %}
        <input type="hidden" name="project_id" id="edit_project_id">
        <div>
            <label for="edit_proj_id">Project ID</label>
            <input type="text" class="form" name="PROJID" id="edit_proj_id" required>
        </div>
        <div>
            <label for="edit_cust_id">Customer ID</label>
            <input type="text" class="form" name="CUSTID" id="edit_cust_id" required>
        </div>
        <div>
            <label for="edit_project_name">Project Name</label>
            <input type="text" class="form" name="ProjectNAme" id="edit_project_name" required>
        </div>
        <div>
            <label for="edit_description">Description</label>
            <textarea class="form" name="Description" id="edit_description" required></textarea>
        </div>
        <div>
            <label for="edit_part_number_suffix">Part Number Suffix</label>
            <input type="text" class="form" name="ProjCodePArtNumberSuffix" id="edit_part_number_suffix" required>
        </div>
        <div>
            <label for="edit_part_name_suffix">Part Name Suffix</label>
            <input type="text" class="form" name="ProjCodePartNameSuffix" id="edit_part_name_suffix" required>
        </div>
        <div>
            <label for="edit_fy">Financial Year</label>
            <input type="text" class="form" name="FY" id="edit_fy" required>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 20px; gap: 10px;">
            <button type="button" class="btn btn-danger" onclick="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-success" name="action" value="update">Update</button>
        </div>
    </form>
</div>

<script>
    function editProject(proj_id, cust_id, project_name, description, part_number_suffix, part_name_suffix, fy) {
        // Set values in the modal form
        document.getElementById('edit_proj_id').value = proj_id;
        document.getElementById('edit_cust_id').value = cust_id;
        document.getElementById('edit_project_name').value = project_name;
        document.getElementById('edit_description').value = description;
        document.getElementById('edit_part_number_suffix').value = part_number_suffix;
        document.getElementById('edit_part_name_suffix').value = part_name_suffix;
        document.getElementById('edit_fy').value = fy;
        document.getElementById('edit_project_id').value = proj_id;
        
        // Show the modal
        document.getElementById('editModal').style.display = 'block';
    }
    function closeModal() {
        document.getElementById('editModal').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

document.getElementById('searchBox').addEventListener('input', function() {
    const searchTerm = this.value.toLowerCase();
    const tableRows = document.querySelectorAll('tbody tr');
    
    tableRows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        if (rowText.includes(searchTerm)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
});

document.getElementById('downloadButton').addEventListener('click', function() {
    const table = document.querySelector('table');
    const rows = Array.from(table.rows);
    const csvContent = rows.map(row => {
        const cells = Array.from(row.cells).map(cell => `"${cell.textContent}"`);
        return cells.join(',');
    }).join('\n');

    const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = 'VendorDetails.csv';
    link.click();
});
</script>
{% endblock %} {% endcomment %}




{% comment %} 
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Project Details</h1>
  
  <div class="row">
    <!-- Form for Adding/Editing Project Details -->
    <div class="col-lg-3 col-md-5 mb-4">
        <form id="projectForm" method="POST" class="shadow p-3 rounded bg-light border border-secondary mb-4">
            {% csrf_token %}
            <h5 class="mb-3 text-center">Project Form</h5>
            
            <div class="form-group mb-3">
                <label for="proj_id">Project ID</label>
                <input type="text" class="form-control" name="PROJID" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="cust_id">Customer ID</label>
                <input type="text" class="form-control" name="CUSTID" required>
            </div>
            <div class="form-group mb-3">
                <label for="CustomerName">Customer Name</label>
                <input type="text" class="form-control" name="ProjectNAme" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="project_name">Project Name</label>
                <input type="text" class="form-control" name="ProjectNAme" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" name="Description" required></textarea>
            </div>
            
            <div class="form-group mb-3">
                <label for="part_number_suffix">Part Number Suffix</label>
                <input type="text" class="form-control" name="ProjCodePArtNumberSuffix" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="part_name_suffix">Part Name Suffix</label>
                <input type="text" class="form-control" name="ProjCodePartNameSuffix" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="fy">Fiscal Year</label>
                <input type="text" class="form-control" name="FY" required>
            </div>

            <input type="hidden" name="project_id" id="project_id">
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary" name="action" value="insert">Insert</button>
                <button type="submit" class="btn btn-success" name="action" value="update">Update</button>
                <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
            </div>
        </form>
        <div class="mt-4">
            <h5 class="text-center mb-3">Bulk Upload</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="xlsx_file" accept=".xlsx" class="form-control form-control-sm mb-2" required>
                <button type="submit" name="action" value="bulk_insert" class="btn btn-success btn-sm w-100 mb-2">Upload XLSX</button>
            </form>
        </div>
    </div>

    <!-- Table for Displaying Project Details -->
    <div class="col-lg-9 col-md-7 mb-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Part Number Suffix</th>
                        <th>Part Name Suffix</th>
                        <th>Fiscal Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.PROJID }}</td>
                        <td>{{ project.CUSTID }}</td>
                        <td>{{ project.CustomerName }}</td>
                        <td>{{ project.ProjectNAme }}</td>
                        <td>{{ project.Description }}</td>
                        <td>{{ project.ProjCodePArtNumberSuffix }}</td>
                        <td>{{ project.ProjCodePartNameSuffix }}</td>
                        <td>{{ project.FY }}</td>
                        <td>
                            <button onclick="editProject('{{ project.PROJID }}', '{{ project.CUSTID }}', '{{ project.ProjectNAme }}', '{{ project.Description }}', '{{ project.ProjCodePArtNumberSuffix }}', '{{ project.ProjCodePartNameSuffix }}', '{{ project.FY }}')" class="btn btn-warning btn-sm">Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<script>
function editProject(projID, custID, projectName, description, partNumberSuffix, partNameSuffix, fy) {
    document.getElementById('project_id').value = projID;
    document.getElementsByName('PROJID')[0].value = projID;
    document.getElementsByName('CUSTID')[0].value = custID;
    document.getElementsByName('ProjectNAme')[0].value = projectName;
    document.getElementsByName('Description')[0].value = description;
    document.getElementsByName('ProjCodePArtNumberSuffix')[0].value = partNumberSuffix;
    document.getElementsByName('ProjCodePartNameSuffix')[0].value = partNameSuffix;
    document.getElementsByName('FY')[0].value = fy;
}
</script>
{% endblock %}  {% endcomment %}




{% comment %} {% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Project Details</h1>
  
  <div class="row">
    <!-- Form for Adding/Editing Project Details -->
    <div class="col-lg-3 col-md-5 mb-4">
        <form id="projectForm" method="POST" class="shadow p-3 rounded bg-light border border-secondary mb-4">
            {% csrf_token %}
            <h5 class="mb-3 text-center">Project Form</h5>
            
            <div class="form-group mb-3">
                <label for="proj_id">Project ID</label>
                <input type="text" class="form-control" name="PROJID" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="cust_id">Customer ID</label>
                <input type="text" class="form-control" name="CUSTID" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="project_name">Project Name</label>
                <input type="text" class="form-control" name="ProjectNAme" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" name="Description" required></textarea>
            </div>
            
            <div class="form-group mb-3">
                <label for="part_number_suffix">Part Number Suffix</label>
                <input type="text" class="form-control" name="ProjCodePArtNumberSuffix" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="part_name_suffix">Part Name Suffix</label>
                <input type="text" class="form-control" name="ProjCodePartNameSuffix" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="fy">Financial Year</label>
                <input type="text" class="form-control" name="FY" required>
            </div>

            <input type="hidden" name="project_id" id="project_id">
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary" name="action" value="insert">Insert</button>
                <button type="submit" class="btn btn-success" name="action" value="update">Update</button>
                <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
            </div>

            
        </form>
        <div class="col-12 mb-4">
            <form id="bulkUpdateForm" method="POST" enctype="multipart/form-data" class="shadow p-3 rounded bg-light border border-secondary">
                {% csrf_token %}
                <h5 class="mb-3 text-center">Bulk Update Projects</h5>
                <div class="form-group mb-3">
                    <label for="bulk_update_file">Upload Excel File</label>
                    <input type="file" class="form-control" name="bulk_update_file" required>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-info" name="action" value="bulk_update">Bulk Update</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Table for Displaying Project Details -->
    <div class="col-lg-9 col-md-7 mb-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project ID</th>
                        <th>Customer ID</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Part Number Suffix</th>
                        <th>Part Name Suffix</th>
                        <th>Financial Year</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in pjt %}
                    <tr>
                        <td>{{ project.PROJID }}</td>
                        <td>{{ project.CUSTID }}</td>
                        <td>{{ project.ProjectNAme }}</td>
                        <td>{{ project.Description }}</td>
                        <td>{{ project.ProjCodePArtNumberSuffix }}</td>
                        <td>{{ project.ProjCodePartNameSuffix }}</td>
                        <td>{{ project.FY }}</td>
                        <td>
                            <button onclick="editProject('{{ project.PROJID }}', '{{ project.CUSTID }}', '{{ project.ProjectNAme }}', '{{ project.Description }}', '{{ project.ProjCodePArtNumberSuffix }}', '{{ project.ProjCodePartNameSuffix }}', '{{ project.FY }}')" class="btn btn-warning btn-sm">Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Form for Bulk Update -->
   

  </div>
</div>

<script>
function editProject(projID, custID, projectName, description, partNumberSuffix, partNameSuffix, fy) {
    document.getElementById('project_id').value = projID;
    document.getElementsByName('PROJID')[0].value = projID;
    document.getElementsByName('CUSTID')[0].value = custID;
    document.getElementsByName('ProjectNAme')[0].value = projectName;
    document.getElementsByName('Description')[0].value = description;
    document.getElementsByName('ProjCodePArtNumberSuffix')[0].value = partNumberSuffix;
    document.getElementsByName('ProjCodePartNameSuffix')[0].value = partNameSuffix;
    document.getElementsByName('FY')[0].value = fy;
}
</script>
{% endblock %}

 {% endcomment %}


